################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PlatformAPI/FileContentIndex/1d099fc3-8213-4f38-950a-9c29594c56a8.vsidx
/.vs
